@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography and smoothing */
html, body, #root { height: 100%; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/***** Optional: match provided design *****/
/* Hide scrollbar on WebKit (content remains scrollable) */
::-webkit-scrollbar { display: none; }
nav#sidebar {
    height: 95vh;
}